.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: small;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 80vw;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 20vw;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
    margin-right: 1em;
}

.adobe {
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: red;
    font-weight: 800;
    margin-right: 1em;
    font-size: 14px;
}

.div-adobe-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-adobe-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-in{
    width: 2em;
    height: 2em;
}

.intro-bar {
    display: flex;
    position: relative;
}

.font-family {
    font-family: adobe-clean, Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
}

.intro-bar-video {
    width: 100vw;
}

.intro-bar-inner {
    position: absolute;
    left: 6%;
    top: 25%;
}

.intro-bar-heading-1 {
    font-weight: 700;
    font-size: 1.125rem;
    margin: 20px;
}

.intro-bar-heading-2 {
    font-weight: 700;
    font-size: 2.375rem;
    margin: 20px;
}

.intro-bar-description {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin: 20px;
    width: 34rem;
}

.intro-bar-inner-buttonArea {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 20px;
}

.intro-bar-inner-button {
    margin-right: 10px;
}

.button {
    border-width: 0em;
    border-radius: 40px;
    height: 50px;
    width: 150px;
    background-color: rgb(51, 86, 126);
    color: white;
    font-size: medium;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-first {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-first-box-one {
    height: 30em;
    width: 24em;
    margin: 2em;
    background-color: #cccccc;
    background-image: url(../media/colorful-haired-girl.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row-first-box-one-text-div {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row-first-box-two {
    height: 30em;
    width: 24em;
    margin: 2em;
    background-color: #cccccc;
    background-image: url(../media/smile.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row-first-box-two-text-div {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}

.row-first-box-three {
    height: 30em;
    width: 24em;
    margin: 2em;
    background-color: #cccccc;
    background-color: rgb(139, 107, 168);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row-first-box-three-text-div-one {
    margin: 2em;
    margin-bottom: 0em;
}

.row-first-box-three-text-div-two {
    margin: 2em;
    margin-top: 0em;
}

.row-second {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-second-box-one {
    height: 30em;
    width: 52em;
    margin: 2em;
    background-color: #cccccc;
    background-image: url(../media/object-duplication.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row-second-box-two {
    height: 30em;
    width: 24em;
    margin: 2em;
    background-color: #cccccc;
    background-image: url(../media/orange-shades.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-second-box-one-text-div {
    color: white;
    margin: 2em;
}

.row-second-box-two-text-div {
    margin: 1em;
}

.row-second-box-two-image-div {
    height: 23em;
    width: 23em;
    background-image: url(../media/mobile-tablet.png);
    background-size: cover;
}

.row-third {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.row-third-inner {
    height: 30em;
    width: 100vw;
    background-image: url(../media/workspace.jpeg);
    background-size: cover;
}

.row-third-inner-text-div {
    margin: 5em;
    width: 25vw;
}


.row-fourth {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-fourth-box-one {
    height: 30em;
    width: 24em;
    margin: 2em;
    background-color: #cccccc;
    background-image: url(../media/orange-shades.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-fourth-box-one-text-div {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row-fourth-box-one-image-div {
    height: 13em;
    width: 21em;
    margin-left: 1.5em;
    background-image: url(../media/three-mobiles.png);
    background-size: cover;
}

.row-fourth-box-two {
    height: 30em;
    width: 24em;
    margin: 2em;
    background-color: #eb410d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.row-fourth-box-two-text-div {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row-fourth-box-two-image-div {
    height: 13em;
    width: 21em;
    margin-left: 1.5em;
    background-image: url(../media/laptop-tablet-mobile.png);
    background-size: cover;
}

.row-fourth-box-three {
    height: 30em;
    width: 24em;
    margin: 2em;
    background-color: #cccccc;
    background-color: rgb(77, 1, 148);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-fourth-box-three-text-div-one {
    margin: 2em;
    margin-bottom: 0em;
}

.row-fourth-box-three-text-div-two {
    margin: 2em;
    margin-top: 0em;
}


.row-fifth {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.row-fifth-inner {
    height: 30em;
    width: 100vw;
    background-image: url(../media/Summit.jpeg);
    background-size: cover;
}

.row-fifth-inner-text-div {
    margin: 3em;
    margin-top: 10em;
    width: 50vw;
}

.row-sixth {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-sixth-box-one {
    height: 30em;
    width: 24em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(../media/laptop-one.jpeg);
    background-size: cover;
}

.row-sixth-box-one-text-div {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row-sixth-box-two {
    height: 30em;
    width: 24em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(../media/laptop-two.jpeg);
    background-size: cover;
}

.row-sixth-box-two-text-div {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row-sixth-box-three {
    height: 30em;
    width: 24em;
    margin: 2em;
    background-color: #cccccc;
    background-color: rgb(98, 235, 212);
}

.row-sixth-box-three-text-div {
    margin: 2em;
    margin-bottom: 0em;
}

.row-seventh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dfd7d7;
    color: rgb(71, 71, 71);
}

.row-seventh-a {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-seventh-a-box-one {
    width: 20vw;
}

.row-seventh-a-box-two {
    width: 20vw;
}

.row-seventh-a-box-three {
    width: 20vw;
}

.row-seventh-a-box-four {
    width: 20vw;
}

.row-seventh-a-box-five {
    width: 20vw;
}

.row-seventh-a-box-one-text-div {
    margin: 2em;
}

.row-seventh-a-box-two-text-div {
    margin: 2em;
}

.row-seventh-a-box-three-text-div {
    margin: 2em;
}

.row-seventh-a-box-four-text-div {
    margin: 2em;
}

.row-seventh-a-box-five-text-div {
    margin: 2em;
}

.row-seventh-b {
    border: 2px solid rgb(71, 71, 71);
    border-left-width: 0em;
    border-right-width: 0em;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.row-seventh-b-box1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 2em;
    font-weight: bold;
}

.row-seventh-b-box2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1em;
}

.row-seventh-b-box2-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0.3em;
}

.row-seventh-b-box3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1em;
}

.row-seventh-b-box3-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0.3em;
}

.row-seventh-b-box4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-seventh-b-box4-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0.3em;
}

.row-seventh-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-seventh-c-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 40vw;
}

.row-seventh-c-changeRegion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1em;
}

.row-seventh-c-changeRegion-image {
    width: 2em;
    height: 2em;
    margin-right: 2px;
}

.row-seventh-c-changeRegion-text-div {
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.facebook {
    width: 2em;
    height: 2em;
    background-image: url(../media/facebook.svg);
    background-size: cover;
    margin: 2px;
}

.twitter {
    width: 2em;
    height: 2em;
    background-image: url(../media/twitter.svg);
    background-size: cover;
    margin: 2px;
}

.linkedin {
    width: 2em;
    height: 2em;
    background-image: url(../media/linkedin.svg);
    background-size: cover;
    margin: 2px;
}

.instagram {
    width: 2em;
    height: 2em;
    background-image: url(../media/instagram.svg);
    background-size: cover;
    margin: 2px;
}

.row-seventh-c-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 60vw;
    height: 5em;
    font-size: smaller;
    padding: 2px;
}

.slash {
    font-weight: bolder;
    font-size: small;
    color: black;
    margin-left: 2px;
    margin-right: 3px;
}